extends layout

block content
  article#fb-ads
    a(href='https://www.facebook.com/harrysbarvenezia')#facebook
      img(src='/images/facebookbadge.gif')

  article#main
    img(src='/images/dotline.gif').dotline
    img(src='https://2.bp.blogspot.com/-YUnNK45mCXQ/U3Sg3FZBLuI/AAAAAAAAQg0/AiSwz06VJ3M/s1600/DSC00662.jpg')#frontdoor
    table#info
      tr
        td.attr Address:
        td.value HARRY'S BAR <br> Calle Vallaresso, 1323 <br> 30124 Venezia Italy
      tr.break
      tr
        td.attr Phone:
        td.value +39 (0) 41 528 5777
      tr.break
      tr
        td.attr Fax:
        td.value +39 (0) 41 520 8822
      tr
        td.attr Email:
        td.value 
          a(href='mailto:harrysbar@cipriani.com') harrysbar@cipriani.com
      tr
        td.attr Official Site:
        td.value
          a(href='http://www.cipriani.com/') [ website ]
      tr.break
      tr
        td.attr Proprietor:
        td.value Arrigo Cipriani
      tr.break
      tr
        td.attr Hours:
        td.value Open daily <br> 10:30 a.m. to 11:00 p.m.

    article#tour
      ul
        li
          a(href='/images/arrigo-harrys.jpg').tour THE BAR COUNTER
        li
          a(href='/images/bellinitext.gif').tour THE BELLINI
        li
          a(href='/images/table.gif').tour THE TABLES
        li
          a(href='/audio/silverware.WAV').audio THE SILVERWARE
          img(src='/images/audio.gif').audio-icon
        li
          a(href='/images/tablecloth.gif').tour THE TABLECLOTH
        li
          a(href='/audio/plate.WAV').audio THE PLATES
          img(src='/images/audio.gif').audio-icon
        li
          a(href='/images/glass.gif').tour THE GLASSWARE
        li
          a(href='/images/meetarrigo.jpg').tour MEET ARRIGO CIPRIANI
        li
          a(href='/audio/menu.WAV').audio LISTEN TO THE MENU
          img(src='/images/audio.gif').audio-icon

    img(src='/images/dotline.gif').dotline

    br

    span Recommended reviews and articles about Harry's Bar:  
      a(href='http://chowhound.chow.com/topics/477957') Chowhound
      span  /  
      a(href='http://www.guardian.co.uk/lifeandstyle/2001/nov/11/foodanddrink.restaurants') Guardian Observer (UK)
      span  /  
      br
      a(href='/reflections') Maurice Graham Henry
      span  /  
      a(href='http://www.johnmariani.com/archive/2007/070114/index.html') John Mariani
      span  /  
      a(href='http://takimag.com/article/with_love_from_harrys_bar') Taki's Magazine
      span  /  
      a(href='http://www.worldsbestbars.com/bar/venice/city-center/harry-s-bar') World's Best Bars

    img(src='/images/dotline.gif')

    h3 The Story of HARRY'S BAR

    h4 As told by Giuseppe Cipriani, general founder of Harry's Bar

    h4
      a(href='/audio/harrys_story.WAV').audio Listen to a brief introduction 
      span (read by Arrigo Cipriani)
      img(src='/images/audio.gif').audio-icon

    p.title The beginnings

    p.
      I was born in 1900 in Verona: my family was very poor and in 1904 my father was obliged to emigrate to Germany, where he had succeeded in finding work as a bricklayer.  My mother cooked meals for the other Italian workers in the house they rented.
    p.
      After finishing my compulsory schooling, I got a job in a watch factory, but when the First World War broke out a few years later we were obliged to return to Verona. Almost all the men had already left for the front, so it was easy for me to find a job in the Molinari pastry kitchen ... one of the best in the city.
    p.
      After a couple of years, when the owner was called to the front as well, he entrusted the business to me. When the war was over, he didn't want me to go away, but my constant need for change was pushing me in other directions. I decided to seek work as a waiter.
    p.
      I went from one job to another. As soon as I felt I'd learned enough, I moved on. I drove my employers crazy.
    p.
      What I liked most about the hospitality business was the service, making people happy, the continual human relationship with clients. I believe that it was in those years that I learned how much people need people.
    p.
      I worked as a waiter in hotels in <a href='/images/france1.gif' class='tour'>France</a>, Belgium, Italy (in Palermo) and finally in <a href='/audio/venice.WAV' class='audio'>Venice</a>, where I was engaged at the Hotel Monaco, just three meters away from the warehouse for rope that would one day become Harry's Bar.
    img(src='/images/hotel-europa.jpg').inline-img
    p.
      My destiny as a barman was decided one day by the owner of the Hotel Europa, where I was working as a Hotel Europa waiter. "Cipriani" - he said - "You've got to become a barman because you adopt just the right tone with the clients. They like you and you're good with languages." That's how I became a barman at the Hotel Europa.
    p.
      In those days, the most popular meeting places for the young Venetian and European aristocracy were the bars in the luxury hotels, like those at the Europa, the Bauer, and the Grand Hotel, and I began thinking:
    p.
      "Why not open a bar that is just as elegant as these outside the hotel, where customers don't have to break through a wall of liveried porters and an equally intimidating lobby, as stupendous as it may be."
    p.
      Great idea. My only problem was money, or more precisely, my total lack of it.

    img(src='/images/blockline.gif')

    img(src='/images/harrys_frontdoor_old.jpg').left

    p.title Harry Pickering
    p.
      Harry Pickering was a sad young American student who had come to Venice with his aunt to cure his incipient alcoholism. I had serious doubts if the trip to Europe constituted the ideal cure for him however, because he spent entire days at the bar at the Hotel Europa in the company of his aunt, his aunt's young escort, and a dog. Anyone who wanted to open a small bar would have rung up a respectable margin of profitability serving just those three clients alone, I believe.
    p.
      After two months, Harry Pickering fell out with his aunt, who went away leaving him alone with the dog and precious little money. I noticed immediately because he stopped drinking almost entirely.
    p.
      Then, momentarily banishing from my mind the <a href='/images/unfortunate-memory.png' class='tour'>unfortunate memory</a> of a time I'd lent money to a client in San Remo <a href='/images/swindler.jpg' class='tour'>I never saw again</a>, I decided to loan him 10,000 Lira, because I thought that this Mr. Pickering was such a fine young man.
    p.
      In February, 1931, long after abandoning all hopes of ever seeing Harry Pickering again or my money, one day he showed up at the Hotel bar.
    p.
      "Cipriani," Harry addressed me. "Here you are. Thanks for the money. In gratitude, I'm adding another thirty-thousand Lira so that you can open a bar of your own for high society.  
    p "I think they'll call it Harry's Bar. Not a bad name."
    p Yes, I was happy.

    img(src='/images/blockline.gif')

    img(src='/images/harrys_frontdoor_old.jpg').left

    p.title Harry's Bar is born

    img(src='/images/harrys_exterior.jpg').inline-img
    p.
      My wife Giulietta found Harry's Bar: five meters by nine rented in a  warehouse for rope that I liked right away because it was at the end of a blind alley (the bridge that goes to Saint Mark's Square did not exist at the time) and the clients would have to intentionally go out of their way to get there, and not just wander in by accident.
    p.
      That was just what I wanted.
    p.
      I entrusted the decor to the good taste of Baron Gianni Rubin de Cervin – a young patron of the bar at the Hotel Europa who interpreted my <a href='/images/bardesign.jpg' class='tour'>wishes</a> to perfection.
    p.
      I opened Harry's Bar on May 13, 1931. If all the clients who now say they were among the first to walk through the doors that day actually did, the bar would have had to have been as large as Saint Mark's Square.
    p.
      In those days, Venice was the preferred destination of the European aristocracy, and <a href='/images/original_barroom.jpg' class='tour'>my bar</a> was greeted with immediate success. They faithfully showed up every aperitif hour, <a href='/images/daily-mail-colin-hawks.png' class='tour'>one and all.</a>

    img(src='/images/blockline.gif')

    img(src='/images/harrys_frontdoor_old.jpg').left

    p.
      Ever since the first opening day, the bar has attracted the international and refined clientele that habitually come to Venice on holiday. One day (in 1935, I think) our waiters served lunch simultaneously to King Alfonso XIII of Spain, Queen Wilhelmina of Holland, King Paul of Greece and King Peter of Yugoslavia. It was just by chance, of course. Some festival brought them to Venice. Or maybe a party. King Paul ate scampi Armoricain, one of his favorite dishes here.
    p.
      The first and only <a href='/images/guestbook.jpg' class='tour'>guest book</a> we've ever had bears the signatures of Arturo Toscanini, Guglielmo Marconi, Somerset Maughan, Noel Coward, Charlie Chaplin,<br><a href='/images/barbara-hutton.jpg' class='tour'>Barbara Hutton</a>,<br><a href='/images/valentina-schlee.jpg' class='tour'>Valentina Schlee</a>,<br><a href='/images/orson_welles.jpg' class='tour'>Orson Welles</a>,<br><a href='/images/truman-capote.jpg' class='tour'>Truman Capote</a>,<br><a href='/images/georges-braque.jpg' class='tour'>Georges Braque</a>,<br>Peggy Guggenheim . . . and <a href='/images/harrys_hirshfeld_cartoon.jpg' class='tour'>a host of others</a>.
    p.
      Not everything went as smoothly as that, however. Fascism was in power, and many hotels that were envious of our success began attacking us – attacks that were just as vile as the men who made them. Rumours were spread that Harry's Bar was first a hang-out for homosexuals, and then the cove of plutocratic Jews, and that I was their guardian that shamelessly defied the Jewish segregation laws.
    p.
      When World War II broke out, among other ignominies, I was obliged to put up a big sign that read: "Jews not wanted here". I eventually succeeded in shifting its position from the main room to the kitchen door. In October '43, the fascists installed a mess hall for their sailors in my dining room.
    p.
      (A few weeks after the liberation of Venice in April '45, Cipriani was summoned by the U.S. commander of the Allied forces. "You are not a good Italian," he told Cipriani sternly. 
      "Why?" he asked.
      "Because you have not reopened Harry's Bar."
      For probably the first time in his life, Cipriani did not feel inclined to quibble with the authorities.)

    img(src='/images/blockline.gif')

    img(src='/images/harrys_frontdoor_old.jpg').left

    p.title Hemingway
    p.
      During the long, cold winter of 1949-50, Ernest Hemingway installed himself comfortably in the Concordia room. Hemingway practically dropped in on us that year, and divided his time between the Inn on Torcello, the Gritti, and Harry's Bar, where he had a table of his own in a corner. He was the only client with whom once during an outing to Torcello I had to drink a little myself – <a href='/images/cipriani_hemingway.jpg' class='tour'>much, much more than a little, actually</a> – just to keep up with him.
    p.
      Hemingway was the only client, I was saying, because I have always believed that the client's place is on one side of the counter, and the barman's is on the other.  Everything in its place....but he had such an overwhelming personality that it was impossible to maintain any barriers.
    p.
      He was generous to a fault, and filled more pages of his check-book than those of a medium length novel.
      At the time, he was just finishing "Over the River and Into the Trees" in which he mentions Harry's Bar many times. Every time I hear someone say "Hemingway sure gave you a lot of free promotion!" I say: "You're all wet, Bud. It was me and my bar that promoted him. They gave him the Nobel prize afterwards, not before."

    img(src='/images/blockline.gif')

    img(src='/images/cipriani-front.jpg').left

    p.title The final dream
    p.
      ....Old age has finally come and I go for breakfast every day at Harry's Bar ... I still have one more dream: a tavern - spacious, dignified, festive, and elegant, where "<a href='/audio/ombre.WAV' class='audio'>ombre</a>" fly across the counter like the whiskies and beers in a Western saloon....Sometimes it's good to dream. Now I can take the liberty of raising a toast to myself, to you, to us, as I think of this gift of drink as a perpetual well-spring of joy and good humor.
    p Cheers to the world!
    p#sig - Giuseppe Cipriani

    p
      a(href='/')
        img(src='/images/btn_top.gif')

    img(src='/images/dotline.gif')
