extends layout

block content
  audio(preload='none')

  section#tour-modal
    img#modal-img
    br
    a(href='#') (click anywhere to close)


  header
    img(src='/images/harrysbanner.png')

    section#content
      article#fb-ads
        a(href='https://www.facebook.com')#facebook
          img(src='/images/facebookbadge.gif')

      article#main
        img(src='/images/dotline.gif').dotline
        a(href='/audio/welcome.mp4').audio
          img(src='https://2.bp.blogspot.com/-YUnNK45mCXQ/U3Sg3FZBLuI/AAAAAAAAQg0/AiSwz06VJ3M/s1600/DSC00662.jpg')#frontdoor
        table#info
          tr
            td.attr Address:
            td.value HARRY'S BAR <br> Calle Vallaresso, 1323 <br> 30124 Venezia Italy
          tr.break
          tr
            td.attr Phone:
            td.value +39 (0) 41 528 5777
          tr.break
          tr
            td.attr Fax:
            td.value +39 (0) 41 520 8822
          tr
            td.attr Email:
            td.value 
              a(href='mailto:harrysbar@cipriani.com') harrysbar@cipriani.com
          tr
            td.attr Official Site:
            td.value
              a(href='http://www.cipriani.com/') [ website ]
          tr.break
          tr
            td.attr Proprietor:
            td.value Arrigo Cipriani
          tr.break
          tr
            td.attr Hours:
            td.value Open daily <br> 10:30 a.m. to 11:00 p.m.

        article#tour
          ul
            li
              a(href='/images/arrigo-harrys.jpg').tour THE BAR COUNTER
            li
              a(href='/images/bellinitext.gif').tour THE BELLINI
            li
              a(href='/images/table.gif').tour THE TABLES
            li
              a(href='/audio/silverware.WAV').audio THE SILVERWARE
              img(src='/images/audio.gif')
            li
              a(href='/images/tablecloth.gif').tour THE TABLECLOTH
            li
              a(href='/audio/plate.WAV').audio THE PLATES
              img(src='/images/audio.gif')
            li
              a(href='/images/glass.gif').tour THE GLASSWARE
            li
              a(href='/images/meetarrigo.jpg').tour MEET ARRIGO CIPRIANI
            li
              a(href='/audio/menu.WAV').audio LISTEN TO THE MENU
              img(src='/images/audio.gif')

        img(src='/images/dotline.gif').dotline
