extends layout

block content
  audio(preload='none')

  section#tour-modal
    img#modal-img
    br
    a(href='#') (click anywhere to close)

  img(src='/images/harrysbanner.png')#banner

  section#content
    article#fb-ads
      a(href='https://www.facebook.com/harrysbarvenezia')#facebook
        img(src='/images/facebookbadge.gif')

    article#main
      img(src='/images/dotline.gif').dotline
      img(src='https://2.bp.blogspot.com/-YUnNK45mCXQ/U3Sg3FZBLuI/AAAAAAAAQg0/AiSwz06VJ3M/s1600/DSC00662.jpg')#frontdoor
      table#info
        tr
          td.attr Address:
          td.value HARRY'S BAR <br> Calle Vallaresso, 1323 <br> 30124 Venezia Italy
        tr.break
        tr
          td.attr Phone:
          td.value +39 (0) 41 528 5777
        tr.break
        tr
          td.attr Fax:
          td.value +39 (0) 41 520 8822
        tr
          td.attr Email:
          td.value 
            a(href='mailto:harrysbar@cipriani.com') harrysbar@cipriani.com
        tr
          td.attr Official Site:
          td.value
            a(href='http://www.cipriani.com/') [ website ]
        tr.break
        tr
          td.attr Proprietor:
          td.value Arrigo Cipriani
        tr.break
        tr
          td.attr Hours:
          td.value Open daily <br> 10:30 a.m. to 11:00 p.m.

      article#tour
        ul
          li
            a(href='/images/arrigo-harrys.jpg').tour THE BAR COUNTER
          li
            a(href='/images/bellinitext.gif').tour THE BELLINI
          li
            a(href='/images/table.gif').tour THE TABLES
          li
            a(href='/audio/silverware.WAV').audio THE SILVERWARE
            img(src='/images/audio.gif').audio-icon
          li
            a(href='/images/tablecloth.gif').tour THE TABLECLOTH
          li
            a(href='/audio/plate.WAV').audio THE PLATES
            img(src='/images/audio.gif').audio-icon
          li
            a(href='/images/glass.gif').tour THE GLASSWARE
          li
            a(href='/images/meetarrigo.jpg').tour MEET ARRIGO CIPRIANI
          li
            a(href='/audio/menu.WAV').audio LISTEN TO THE MENU
            img(src='/images/audio.gif').audio-icon

      img(src='/images/dotline.gif').dotline

      br

      span Recommended reviews and articles about Harry's Bar:  
        a(href='http://chowhound.chow.com/topics/477957') Chowhound
        span  /  
        a(href='http://www.guardian.co.uk/lifeandstyle/2001/nov/11/foodanddrink.restaurants') Guardian Observer (UK)
        span  /  
        br
        a Maurice Graham Henry
        span  /  
        a(href='http://www.johnmariani.com/archive/2007/070114/index.html') John Mariani
        span  /  
        a(href='http://takimag.com/article/with_love_from_harrys_bar') Taki's Magazine
        span  /  
        a(href='http://www.worldsbestbars.com/bar/venice/city-center/harry-s-bar') World's Best Bars

      img(src='/images/dotline.gif')

      h3 The Story of HARRY'S BAR

      h4 As told by Giuseppe Cipriani, general founder of Harry's Bar

      h4
        a(href='/audio/harrys_story.WAV').audio Listen to a brief introduction 
        span (read by Arrigo Cipriani)
        img(src='/images/audio.gif').audio-icon

      p.title The beginnings

      p.
        I was born in 1900 in Verona: my family was very poor and in 1904 my father was obliged to emigrate to Germany, where he had succeeded in finding work as a bricklayer.  My mother cooked meals for the other Italian workers in the house they rented.
      p.
        After finishing my compulsory schooling, I got a job in a watch factory, but when the First World War broke out a few years later we were obliged to return to Verona. Almost all the men had already left for the front, so it was easy for me to find a job in the Molinari pastry kitchen ... one of the best in the city.
      p.
        After a couple of years, when the owner was called to the front as well, he entrusted the business to me. When the war was over, he didn't want me to go away, but my constant need for change was pushing me in other directions. I decided to seek work as a waiter.
      p.
        I went from one job to another. As soon as I felt I'd learned enough, I moved on. I drove my employers crazy.
      p.
        What I liked most about the hospitality business was the service, making people happy, the continual human relationship with clients. I believe that it was in those years that I learned how much people need people.
      p.
        I worked as a waiter in hotels in <a href='/images/france1.gif' class='tour'>France</a>, Belgium, Italy (in Palermo) and finally in <a href='/audio/venice.WAV' class='audio'>Venice</a>, where I was engaged at the Hotel Monaco, just three meters away from the warehouse for rope that would one day become Harry's Bar.
      p.
        My destiny as a barman was decided one day by the owner of the Hotel Europa, where I was working as a Hotel Europa waiter. "Cipriani" - he said - "You've got to become a barman because you adopt just the right tone with the clients. They like you and you're good with languages." That's how I became a barman at the Hotel Europa.
      p.
        In those days, the most popular meeting places for the young Venetian and European aristocracy were the bars in the luxury hotels, like those at the Europa, the Bauer, and the Grand Hotel, and I began thinking:
      p.
        "Why not open a bar that is just as elegant as these outside the hotel, where customers don't have to break through a wall of liveried porters and an equally intimidating lobby, as stupendous as it may be."
      p.
        Great idea. My only problem was money, or more precisely, my total lack of it.

      img(src='/images/blockline.gif')

      p.title Harry Pickering

      p.
        Harry Pickering was a sad young American student who had come to Venice with his aunt to cure his incipient alcoholism. I had serious doubts if the trip to Europe constituted the ideal cure for him however, because he spent entire days at the bar at the Hotel Europa in the company of his aunt, his aunt's young escort, and a dog. Anyone who wanted to open a small bar would have rung up a respectable margin of profitability serving just those three clients alone, I believe.
      p.
        After two months, Harry Pickering fell out with his aunt, who went away leaving him alone with the dog and precious little money. I noticed immediately because he stopped drinking almost entirely.
      p.
        Then, momentarily banishing from my mind the <a href='/images/swindler.jpg' class='tour'>unfortunate memory</a> of a time I'd lent money to a <a href='/images/unfortunate-memory.png' class='tour'>client in San Remo</a> I never saw again, I decided to loan him 10,000 Lira, because I thought that this Mr. Pickering was such a fine young man.
      p.
        In February, 1931, long after abandoning all hopes of ever seeing Harry Pickering again or my money, one day he showed up at the Hotel bar.
      p.
        "Cipriani," Harry addressed me. "Here you are. Thanks for the money. In gratitude, I'm adding another thirty-thousand Lira so that you can open a bar of your own for high society.  
      p "I think they'll call it Harry's Bar. Not a bad name."
      p Yes, I was happy.
