extends layout

block content
  header
    h1= title
    p= desc

  section.pure-g#welcome
    article.pure-u-1
      img(src='/images/meet-me-remarks.jpg').pure-img.animated.swing#meet-me-img

  section#main
    article.pure-g
      article.pure-u-1
        img(src='/images/top-front-door.jpg').pure-img.top-photos
        img(src='/images/top-bar.jpg').pure-img.top-photos
        img(src='/images/top-window.jpg').pure-img.top-photos
        img(src='/images/top-canal-view.jpg').pure-img.top-photos

    article.pure-g
      article.pure-u-1.pure-u-sm-3-4.pure-u-xl-3-5#content
        img(src='https://2.bp.blogspot.com/-YUnNK45mCXQ/U3Sg3FZBLuI/AAAAAAAAQg0/AiSwz06VJ3M/s1600/DSC00662.jpg').pure-img#frontdoor