extends layout

block content
  header
    img(src='/images/harrysbanner.png')

    section#content
      article#fb-ads
        p= "Ads will go here"

      img(src='/images/dotline.gif')
      img(src='https://2.bp.blogspot.com/-YUnNK45mCXQ/U3Sg3FZBLuI/AAAAAAAAQg0/AiSwz06VJ3M/s1600/DSC00662.jpg')#frontdoor

