extends layout

block content
  header.pure-u-1
    h1= title
    p= desc

  section.pure-u-1
    img(src='http://2.bp.blogspot.com/-YUnNK45mCXQ/U3Sg3FZBLuI/AAAAAAAAQg0/AiSwz06VJ3M/s1600/DSC00662.jpg').pure-img
