doctype html
html
  head
    title= title + ' | ' + desc

    // letter H favicon
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    // other stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')

  // the actual webpage  
  body
    audio(preload='none')

    section#tour-modal
      img#modal-img
      br
      a(href='#') (click anywhere to close)

    img(src='/images/harrysbanner.png')#banner

    section#content
      article#fb-ads
        a(href='https://www.facebook.com/harrysbarvenezia')#facebook
          img(src='/images/facebookbadge.gif')

      article#main
        block content

    // client-side scripts
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/script.js')