doctype html
html(lang='en')
  head
    title= title + ' | ' + desc

    // letter H favicon
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="description" content="No other bar in Europe has a richer history than Harry's Bar in Venice. Includes contact and other interesting information for Harry's Bar Venezia in Italy.">
    <meta http-equiv="Keywords" content="Harry's Bar, Venice, Venezia, Italia, Cipriani, Bellini, Ernest Hemingway, Calle Vallaresso, Truman Capote, Valentina Schlee, history, story, unofficial, reflections,">
    <meta name="classification" value="Italian dining, Italy restaurants, mixology, gourmet, gastronomy, eating out, travel, wine, liquor, history">
    <meta name="copyright" content="2009, 2010, 2011, 2012, 2013, 2014, 2015 Internaire">
    <meta name="expires" content="never">
    <meta http-equiv="rating" content="general">

    // custom stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css', media='(max-width: 767px) and (orientation: landscape)')

  // the actual webpage  
  body
    audio(preload='none')

    section#tour-modal
      img#modal-img
      br
      a (click anywhere to close)

    img(src='/images/harrysbanner.png')#banner

    section#content
      block content

    footer
      span INTERNAIRE encourages you to read our <a href='privacy' id='privacy-link'>privacy policy</a>.
      br
      span Copyright &copy; 2010, 2011, 2012, 2013, 2014, 2015 INTERNAIRE.  All rights reserved.

    // client-side scripts
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/script.js')