doctype html
html
  head
    title= title + ' | ' + desc

    // letter H favicon
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css')

    // purecss responsive grids
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    // custom stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css', media='(max-width: 767px) and (orientation: landscape)')

  // the actual webpage  
  body
    audio(preload='none')

    section.pure-g#tour-modal
      article.pure-u-1
        img#modal-img
        br
        a (click anywhere to close)

    img(src='/images/harrysbanner.png')#banner

    section#content
      block content

    footer
      span INTERNAIRE encourages you to read our <a href='privacy'>privacy policy</a>.
      br
      span Copyright &copy; 2010, 2011, 2012, 2013, 2014, 2015 INTERNAIRE.  All rights reserved.

    // client-side scripts
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/script.js')