doctype html
html
  head
    title= title + ' | ' + desc

    // letter H favicon
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    // pureCSS
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // responsive layout for smaller screens
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    // other stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')

  // the actual webpage  
  body
    block content

    // client-side scripts
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/script.js')