extends layout

block content
  section#privacy
    h1 PRIVACY POLICY

    h2 Information Collection
    p Internaire is the sole owner of the information collected on the HarrysBarVenezia.com website. HarrysBarVenezia.com occasionally collects information from our users at different points on our Web site.

    h2 Information Use
    p HarrysBarVenezia.com is an information and education portal about the fine dining restaurants, cuisine, and wines of the United States of America. 

    h3 Profile
    p HarrysBarVenezia.com stores information that we collect through log files, and/or third parties to create an aggregate profile of our users.  We do not build, support, or maintain profiles on individual users that details their personal viewing preferences.  Consequently, collected information is never tied any personally identifiable information to provide offers and improve the content of the site for the individual user.

    h3 Cookies
    p HarrysBarVenezia.com does not utilize cookies, and has no plans to do so in the future. 
     
    h3 Third Party Advertising
    p Information about individual users is not provided to - or received by - these or other outside parties by HarrysBarVenezia.com.
    p The ads appearing on this Web site are delivered to users by AllPosters.com, Air France, Commission Junction, Fromages.com, Linkshare, Wine Spectator, and Wine.com.  Information is not collected or maintained about individual users’ visit to this site, such as number of times they have viewed an ad.

    h3 Log Files
    p Like most standard Web site servers we use log files.  This includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks to analyze trends, administer the site, track user’s movement in the aggregate, and gather broad demographic information for aggregate use.
     
    h2 Communications from the Site

    h3 Service Announcements
    p On rare occasions it is necessary to send out a strictly service-related announcement to known users of our site.  For instance, if our service is temporarily suspended for maintenance we might send users who have corresponded with us an email.  These communications are not promotional in nature.

    h3 Customer Service
    p We communicate with users on a regular basis to answer questions and provide requested services; we reply via email or phone, in accordance with the users wishes.  When these communications are shared with others, the user's name, email address, or other personally identifiable information is deleted.
    
    h3 Special note concerning children
    p We encourage parents to use the Site with their children. If we learn that a child under the age of 13 has provided personally identifiable information to the Site, we will promptly remove such information from its files.

    h2 Sharing
    h3 Legal Disclaimer
    p Though we make every effort to preserve user privacy, we may need to disclose personal information when required by law wherein we have a good-faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal process served on our Web site.

    h3 Aggregate Information (non-personally identifiable)
    p We share aggregated demographic information with our partners and advertisers.  We also share this information when making presentations to solicit additional partners or advertisers.  This is never linked to any personally identifiable information.

    p These are the instances in which we will share users’ personal information:

    p We DO NOT Share Personal Information with Third Parties except as required by law, with the following exception:
     
    h3 Surveys & Contests
    p From time-to-time our site requests information from users via surveys or contests.  Participation in these surveys or contests is completely voluntary and the user therefore has a choice whether or not to disclose this information.  The requested information typically includes contact information (such as name and shipping address), and demographic information (such as zip code).  Contact information will be used  or shared with the survey/contest sponsors to notify the winners and award prizes.  Anonymous survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.  Users’ personally identifiable information is not shared with third parties unless we give prior notice and choice. Though we may use an intermediary to conduct these surveys or contests, they may not use users’ personally identifiable information for any secondary purposes.

    h3 Business Transitions
    p In the event HarrysBarVenezia.com goes through a business transition, such as a merger, being acquired by another company, or selling a portion of its assets, users’ personal information will, in most instances, be part of the assets transferred. 
    p Users of our site are always notified when their information is being collected by any outside parties.  We do this so our users can make an informed choice as to whether or not they should proceed with services that require an outside party.

    h2 Links
    p This Web site contains links to other sites. Please be aware that HarrysBarVenezia.com is not responsible for the privacy practices of such other sites.  We encourage our users to be aware when they leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information.  This privacy statement applies solely to information collected by this Web site.
     
    h2 Chat Rooms, Message Boards, and Public Forums
    p Please keep in mind that whenever you voluntarily disclose personal information online - for example on message boards, through e-mail, or in chat areas - that information can be collected and used by others. In short, by posting personal information online that is publicly accessible, you may receive unsolicited messages from other parties in return.
     
    h2 Security
    p This Web site takes every precaution to protect our users’ information.  When users submit sensitive information via the Web site, their information is protected both online and off-line as described above.
    p If users have any questions about the security at our Web site, users can send an email to <a href='mailto:support@internaire.com'>support@internaire.com</a>.

    h2 Correcting/Updating/Deleting/Deactivating Personal Information
    p If a user’s personally identifiable information changes (such as zip code, phone, email or postal address), or if a user no longer desires to receive communications from us, we provide a way to correct, update or delete/deactivate users’ personally identifiable information. This can be done by emailing our Customer Support at <a href='mailto:support@internaire.com'>support@internaire.com</a>.  Or, contact us by telephone or postal mail at the contact information listed below.
     
    h2 Notification of Changes
    p If we decide to change our privacy policy, we will post those changes to this privacy statement, the homepage, and other places we deem appropriate so our users are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. If, however, we are going to use users’ personally identifiable information in a manner different from that stated at the time of collection we attempt to notify all known users users via email.  We will also post a notice on our Web site for 30 days prior to any such changes taking effect.
     
    h2 Contact Information
    p If users have any questions or suggestions regarding our privacy policy, please contact us at:
    p Phone: (914) 835-7323              
    p Fax: n/a
    p Email: <a href='mailto:support@internaire.com'>support@internaire.com</a>
    p Postal Address: Internaire, P.O. Box 918, Harrison NY 10528 USA
    p <a href='http://www.internaire.com'>http://www.internaire.com</a>