extends layout

block content
  img(src='/images/maurice_photo.jpg')#graham

  p.
    Should a day come that is my last full day of my last-ever trip to Europe, I want to enjoy my last lunch and my parting dinner (as well as my final cocktail) nowhere else but at Harry's Bar in Venice.  Although I own Internaire, the holding company of the <a href='http://www.americanfarmtotable.com/'>American Farm to Table Restaurant Guide</a>, there is no eating and drinking establishment in the world I more thoroughly enjoy than Harry's Bar.
  p.
    On the back cover of <a href='http://www.amazon.com/gp/product/0553070304?ie=UTF8&tag=harrysbar-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0553070304'>The Harry's Bar Cookbook</a>, there's a quotation of the answer to a rather basic question put to the late Baron Philippe de Rothschild by Harper's Bazaar Magazine.  When asked to name what he considered the best restaurant in the world, he humbly replied, "I cannot say, for the simple reason that I haven't had the chance to try them all.  I can tell you one thing, though.  There is one restaurant in the world where I always feel at home: Harry's Bar in Venice."  While I do not have the finesse and sophistication of this man, Baron Philippe expressed my exact sentiments &mdash; and certainly the sentiments of many other Harry's Bar devotees as well.
  img(src='/images/harrys_bar_exterior.jpg').inline-img
  p.
    Venice is the one city in the world where I know where I'll always be for dinner &mdash; and likely lunch as well: Harry's Bar.  After purchasing a plane ticket (fortunately for New Yorkers, Delta still flies nonstop from JFK to Venice), the next task on my trip "to do" list is to secure dinner reservations at Harry's Bar for every evening I'll be there.  As for lunch I have yet to make a reservation for the simple reason that I always go very early (between 12 noon and never any later than 12:30) and always eat more simply: usually just a <a href='http://www.harrysbarvenezia.com/bellini.htm'>Bellini</a> or gin Roger and one of their fabulous sandwiches, either the chicken sandwich or the <a href='http://www.harrysbarvenezia.com/audio/club.WAV'>grilled club</a>.  Because the main lunch crowd hasn't yet arrived, I have always been able to have my lunch downstairs, for me is the best place to be.
  p.
    For dinner, I usually arrive sometime between 7:00 and 7:30 p.m. wearing a jacket and tie (but if it's hot, I don't hesitate to dispense with the tie).  On occasion I'll order a drink at the bar counter before being seated, or I'll allow the staff to seat me first.  Once at my table, I must decide just how hungry I am.  If I'm very hungry, I'll order an appetizer, a half plate of pasta, a main course and  a dessert. If I'm moderately hungry, I'll skip the pasta. 
  p.
    As for what to order for the main course, I have always recommended the scampi dishes &mdash; especially the Scampi Amoricaine &mdash; because the scampi at Harry's Bar are of the very highest quality, and far more flavorful than any scampi I've had in the USA.  I also urge you not to pass up the roast chicken "Cipriani" if it's on the menu.  You'll be amazed how much more delicious a good European chicken is than the vast majority of chicken served in America.
  p.
    For dessert, you can't go wrong with one of the excellent cakes.  My two favorites are the vanilla meringue and the chocolate cake.  And since the various cakes and tarts are brought tableside for you to examine, you'll have ample time to decide for yourself
  p.
    After leaving Harry's Bar (I'll sometimes order coffee, but never have an after-dinner cocktail) I like to go for a long brisk walk.  And no matter where I go, I always end up at the same destination: Harry's Bar!   No more food this time, just drink!  The second evening visit is often the most fun of all, for no other reason than the <a href='http://www.harrysbarvenezia.com/barcounter.htm'>downstairs bar</a> is undoubtedly one of the world's best people-watching and people-meeting venues anywhere on earth.  And not just Americans gather there.  People from all over the world come to Harry's Bar.
  img(src='/images/carafe.jpg').inline-img
  p.
    But all the fun must stop sometime, which is usually not long after the bar closes at 11:00 p.m.  When walking home, I (and no doubt others who've been drinking) again appreciate the fact that Venice has no cars, so no one ever gets a DUI in this city.  Because both of the hotels where I like to stay (the Europa & Regina and the Danieli) are nearby, I have no fears about making it back safely.
  p.
    I must close by commenting on a widely-reported fact about Harry's Bar: the high prices...and yes, at times the astronomically high prices.  I'm sure that one reason they're kept so high is because they provide a much-needed barrier between those who truly appreciate Harry's Bar and those who simply wander in because they read about the place in some tourist guidebook.  If the prices weren't very high, the place would no doubt be constantly overrun by hoards of thoughtless tourists.  That said, please be assured that what the price levels are not intended to be is a barrier between the rich and those of more modest means.  If your budget is tight and you want to eat at Harry's Bar, go during lunch and just order a drink and a sandwich.
  p.
    As for me, I have always returned from Venice happy.  And any regrets I may harbor about the significant damage done to my American Express card at Harry's Bar are overshadowed by my deep desire to return soon &mdash; very soon &mdash; to Venice and to Harry's Bar.
  p Maurice Graham Henry
  
  img(src='/images/dotline.gif')
