a {
  color: #00B7FF;
}

body {
  text-align: center;
  font-family: Garamond;
  background-color: blanchedalmond;
  background-image: url(/images/venezia-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  padding: 1em;
}

header > h1 {
  font-family: "Courier New", courier, monospace;
  font-weight: normal;
}

header > p {
  font-family: "Courier New", courier, monospace;
}

#content {
  background-color: aliceblue;
  margin: auto;
  width: 948px;
  height: 100em;
}

#frontdoor {
  float: left;
  height: 16em;
  margin: 1em;
}