body {
  text-align: center;
  font-family: 'TrebuchetMS', Trebuchet, Helvetica, sans-serif;
  background-color: blanchedalmond;
  background-image: url(/images/venezia-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background: -webkit-linear-gradient(grey, darkslategray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(grey, darkslategray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(grey, darkslategray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(grey, darkslategray); /* Standard syntax */
  color: white;
  margin: auto;
  width: 946px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 75em;
}

a {
  color: #0067ee;
  text-decoration: none;
  text-align: left;
}

a:hover {
  color: crimson;
}

#banner {
  position: relative;
  top: 4px;
}

#tour-modal {
  padding-top: 10em;
  position: fixed;
  left: 0em;
  top: 0em;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  display: none;
}

#modal-img {
  position: relative;
  max-width: 100%;
  max-height: 75%;
}

#content {
  position: relative;
  border: 1px solid black;
  background-color: #e9f7f3;
  margin: auto;
  width: 946px;
  padding-bottom: 2em;
}

#fb-ads {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  left: 48em;
  width: 11em;
  height: 100%;
  background-color: white;
}

#facebook {
  position: relative;
  top: 1em;
}

#main {
  width: 49em;
}

.dotline {
  display: block;
  margin: auto;
  margin-top: 1em;
}

#dotline2{
  position: relative;
  margin: auto;
  top: -0.5em;
}

#frontdoor {
  display: inline-block;
  height: 16.25em;
  margin: 1em;
}

#info {
  display: inline-block;
  position: relative;
  top: -1.5em;
  font-size: 13px;
  font-weight: bold;
}

.attr {
  text-align: right;
}

.value {
  padding-left: 1em;
  text-align: left;
}

.break {
  height: 1em;
}

#tour {
  font-family: Arial;
  font-size: 14px;
  margin-left: 1em;
  display: inline-block;
  position: relative;
  top: -2.3em;
  background-image: url(/images/bar-bg.jpg);
  width: 16em;
}

.audio-icon {
  height: 1em;
  margin-left: 0.5em;
}

ul {
  list-style-image: url(/images/bullet.gif);
  text-align: left;
  position: relative;
  left: -7px;
}

li {
  margin-bottom: 0.75em;
  text-shadow: 2px 2px black;
}

li > a {
  color: white;
}

li > a:hover {
  color: white;
}

li:hover {
  font-weight: bold;
}

#reviews {
  background-image: url(/images/hb_waterside.jpg);
  background-size: cover;
  height: 6em;
  width: 24em;
  margin: auto;
  position: relative;
  left: -3px;
}

#reviews > a {
  color: gold;
  text-shadow: -1px -1px 1px goldenrod, 1px 1px 1px black;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  left: -0.5em;
}

#reviews > a:hover {
  color: orange;
}

#story-title {
  text-align: left;
  margin-left: 15.3em;
}

.story-title {
  text-align: left;
  margin-left: 18em;
}

.title {
  color: firebrick;
}

p {
  font-family: arial;
  font-size: 18px;
  text-align: left;
  margin-left: 16em;
  margin-right: 2em;
}

.inline-img {
  float: right;
  max-height: 12em;
  margin-left: 0.5em;
  margin-right: 2em;
}

.left {
  float: left;
  margin: 1em 1em 0em 2em;
  height: 20em;
}

.top {
  position: relative;
  top: -0.25em;
}

#sig {
  text-align: center;
}

#reflections {
  background-image: url(/images/harrys_bar_front_mgh2.jpg);
  background-size: contain;
  width: 14em;
  height: 18.7em;
  text-align: center;
  color: gold;
  text-shadow: -1px -1px 1px goldenrod, 1px 1px 1px black;
  letter-spacing: 1px;
}

#reflections:hover {
  color: orange;
}

#reflections > span {
  position: relative;
  top: 16em;
}

#graham-front {
  height: 20em;
}

#graham {
  float: left;
  margin: 0em 1em 1em 0em;
  height: 8em;
}

#privacy > p {
  margin-left: 2em;
}

#privacy-link {
  color: gold;
}

#privacy-link:hover {
  color: orange;
}

@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (device-width: 768px) {
  body {
    -webkit-text-size-adjust:none;
  }
}