a {
  color: #00B7FF;
}

body {
  text-align: center;
  font-family: Garamond;
  background-image: url(/images/venezia-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  padding: 2em;
}

header > h1 {
  font-family: "Courier New", courier, monospace;
  font-weight: normal;
}

header > p {
  font-family: "Courier New", courier, monospace;
}

article {
  border: 1px dashed black;
}

.pure-img {
  position: relative;
  margin: auto;
}

#meet-me-img {
  width: 33%;
  margin-top: 7em;
  -vendor-animation-duration: 4s;
}

#doorway-img {
  display: none;
}

#main {
  display: none;
}